<!Doctype html>
<html>
    <head>
        <title>About</title>
               <link rel="icon" href="/img/Weather.png">
        <link rel="stylesheet" href="/css/styles.css"> 

    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/img3.jpg">
        <p>This site was created by Aniket Bhoite. It uses data from mapbox.com and openweatherapi.</p>
        </div>
        {{>footer}}
    </body>

</html>